#v0 {
  position: fixed;
  width: 100%;
  top: 0;
}

body {
  height: 5000px;
}

.buy-tickets {
}

.wtn {
  .splash {
    width: 100%;
    height: 100vh;
    .parallax {
    }
    .heading {
      position: fixed;
      width: 100vw;
      height: 100vh;
      display: flex;
      z-index: 101;
      h1 {
        font-family: "Reckless Neue Light";
        max-width: 690px;
        font-weight: 300;
        font-size: 40px;
        line-height: 63.6px;
        letter-spacing: -0.03em;
        margin: auto;
        color: $white;
        text-align: center;
      }
    }
    .background,
    .midground,
    .foreground {
      background-repeat: no-repeat;
      background-size: cover;
      background-position-x: center;
      width: 100vw;
      height: 100vh;
      position: fixed;
      bottom: 0;
    }
    .background {
      background-image: asset_url("back1.png");
    }
    .midground {
      background-image: asset_url("mid1.png");
      &::after {
        content: "";
        display: block;
        height: 1000px;
        width: 120vw;
        background-color: $white;
        top: 100vh;
        position: absolute;
        box-shadow: 0px -40px 31px 0px $white;
      }
    }
    .foreground {
      background-image: asset_url("fore1.png");
      z-index: 100;
      transition: opacity 0.3s ease-in;
      &::after {
        content: "";
        display: block;
        height: 1000px;
        width: 120vw;
        background-color: $white;
        top: 100vh;
        position: absolute;
        box-shadow: 0px -40px 31px 0px $white;
      }
    }
  }
  .hidden {
    opacity: 0;
    pointer-events: none;
  }
}
