#v0 {
  position: fixed;
  width: 100%;
  top: 0;
}

#cover {
  position: fixed;
  background-color: $white;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  transition: opacity 0.3s ease-in;
}

.wtn {
  h2 {
    font-family: "Reckless Neue Light";
    max-width: 690px;
    font-weight: 300;
    font-size: 40px;
    line-height: 63.6px;
    letter-spacing: -0.03em;
    margin: auto;
    color: $black;
    text-align: center;
  }
  .splash {
    height: 300vh;
    width: 100%;
    .arch {
      height: 80%;
      width: 70%;
      border-top-left-radius: 1000000px;
      border-top-right-radius: 1000000px;
      border: 2px solid $black;
      box-shadow: 0px 0px 0px 1500px $white;
      position: fixed;
      z-index: -1;
      background: transparent;
      transform: translateX(20%);
      top: 150px;
    }
    #background {
      width: 80%;
      position: fixed;
      margin: 0 auto;
      transform: translateX(5%);
      top: 0;
      z-index: -2;
      top: 150px;
    }
    .heading {
      display: none;
      position: absolute;
      width: 100vw;
      height: 100vh;
      z-index: 101;
      pointer-events: none;
      h1 {
        font-family: "Reckless Neue Light";
        max-width: 690px;
        font-weight: 300;
        font-size: 40px;
        line-height: 63.6px;
        letter-spacing: -0.03em;
        margin: auto;
        color: $black;
        text-align: center;
      }
    }
  }
}
.hidden {
  opacity: 0;
  pointer-events: none;
}
