<div class="main-container">
  <div class="splash" style="background-color: <%= @background_colour %>;">
    <h1>
      Free Wednesdays
    </h1>
    <p>Most weeks at San Fran, come check out upcoming local artists, totally free.</p>
    <div class="image"></div>
  </div>
  <div class="coming-up">

  </div>
</div>