<div class="container">
  <div class="splash">
    <h1>
      Eyegum is a collective of music enthusiasts
      that organises live events featuring Aotearoas
      finest alternative artists.
    </h1>
    <div class="hand"></div>
  </div>
  <% @latest_news.each do |news_item| %>
    <%= render_partial 'eyegum/news_item' %>
  <% end %>
</div>