<div class="main-container">
  <div class="splash">
    <h1>
      Eyegum is a collective of music enthusiasts
      that organises live events featuring Aotearoas
      finest alternative artists.
    </h1>
    <div class="hand"></div>
  </div>
  <div class="news">
    <% @latest_news.each do |news_item| %>
      <%= render partial: 'eyegum/news_item' %>
    <% end %>
  </div>
</div>