<footer>
  <div class="left">
    <div class="links">
      <a href="https://www.facebook.com/eyegumevents/">Facebook</a>
      <a href="https://www.instagram.com/eyegum/">Instagram</a>
      <a href="mailto:eyegum.music@gmail.com">Email Us</a>
    </div>
    <div class="image"></div>
  </div>
  <div class="right">
    <p>Sign up for our newsletter and stay up to date on what's happening.</p>
    <input type="text" placeholder="EMAIL ADDRESS...">
    <span class="arrow"></span>
  </div>
  <div class="base">
    <span>© Eyegum 2021</span>
    <a href="https://www.emilystevens.co/">Site design by Es</a>
  </div>
</footer>