<nav>
  <a href="/" class="image"></a>
  <div class="links">
    <%= link_to 'FREE WEDNESDAYS', '/freewednesdays' %>
    <%= link_to 'WELCOME TO NOWHERE', '/welcometonowhere' %>
    <%= link_to 'OTHER EVENTS', '/events' %>
    <%= link_to 'ABOUT US', '/aboutus' %>
  </div>
</nav>