body {
  min-height: 100vh;
}

.show {
  padding: 20px;
  flex-direction: column;
  min-height: 100vh;
  @media screen and (min-width: 950px) {
    padding: 50px;
    flex-direction: row;
  }
  img {
    filter: grayscale(100%);
    display: block;
    max-width: 500px;
    max-height: 400px;
    object-fit: cover;
    @media screen and (min-width: 950px) {
      display: none;
    }
  }
  .img-container {
    display: none;
    @media screen and (min-width: 950px) {
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top;
      max-height: none;
      min-width: 500px;
      height: 70vh;
      padding-left: 0;
      display: flex;
    }
  }
  .text-container {
    padding: 50px;
    padding-top: 0px;
    padding-left: 10px;
    max-width: 400px;
    @media screen and (min-width: 950px) {
      padding-left: 50px;
      max-width: 520px;
    }
    p {
      line-height: 1.5;
    }
  }
}

.container {
  width: 80%;
  margin: 0 auto;

  grid-template-columns: repeat(1, 1fr);
  @media screen and (min-width: 500px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: 900px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(5, minmax(50px, 1fr));
  }

  // @media screen and (min-width: 1550px) {
  //   grid-template-columns: repeat(7, minmax(50px, 1fr));
  // }
  grid-template-rows: auto;
  column-gap: 10px;
  row-gap: 15px;
  display: grid;
  padding: 10px;
  a {
    text-decoration: none;
    color: rgba(30, 30, 30, 1);
  }
  .card {
    transition: all 0.1s ease-out;
    transform: translate(0px, 0px);
    display: flex;
    flex-direction: column;
    border: solid;
    border-width; 1px;
    border-color: #161616;
    overflow: hidden;
    &:hover {
      filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.2));
    }
    .img-container {
      height: 200px;
      overflow: hidden;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    .text-container {
      h3 {
        min-height: 42px;
        font-size: 24px;
        margin-bottom: 0;

        font-family: "Reckless Neue Light";
      }
      p:first-of-type {
        margin: 0;
      }
      p {
        text-decoration: none;
        font-family: "Surt Light";
      }
      p:last-of-type {
        margin-top: 10px;
      }
      padding-left: 10px;
      padding-right: 5px;
    }
  }
}
