@font-face {
  font-family: "Reckless Neue Light";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(RecklessNeue-Light.woff) format("woff");
}

@font-face {
  font-family: "Surt Light";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(Surt-Light.woff) format("woff");
}
