body {
  height: 400vh;
}

.splash {
  width: 100%;
  height: 100vh;

  div {
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100vh;
    position: fixed;
  }
  .heading {
    z-index: 10;
    h1 {
    }
  }
  .sky {
    background-image: url(sky.png);
    // background-image: url(Welcome-To-Nowhere_5747);
  }
  .stage {
    background-image: url(stage.png);
  }
  .crowd {
    background-image: url(crowd.png);
    background-position-y: 411px;
  }
}
