.wednesdays {
  * {
    color: $black;
  }
  .splash {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media screen and (max-width: $breakpoint) {
      grid-template-columns: 1fr;
      padding: 15px;
      padding-top: 57px;
    }
    .left {
      padding-left: 30px;
      padding-top: 30px;
      max-width: 575px;
      @media screen and (max-width: $breakpoint) {
        padding: 0px;
        max-width: none;
      }
      .img-sm-container {
        height: 420px;
        position: relative;
        .image-sm-1 {
          border-radius: 500px 500px 0px 0px;
          position: absolute;
          min-width: 168.33px;
          height: 227.66px;
          right: 0px;
          top: 30px;
          background-color: $black;
        }
        .image-sm-2 {
          position: absolute;
          min-width: 103px;
          height: 139.3px;
          left: 0px;
          bottom: 45px;
          background-color: $black;
        }
        @media screen and (max-width: $breakpoint) {
          display: block;
        }
        display: none;
      }
      h1 {
        font-family: Reckless Neue Light;
        font-weight: 300;
        font-size: 53px;
        line-height: 64px;
        letter-spacing: -0.03em;
        margin-top: 0;
        @media screen and (max-width: $breakpoint) {
          margin-top: 10px;
          font-size: 33px;
          line-height: 43.6px;
          letter-spacing: -0.03em;
        }
      }
      p {
        font-family: Surt Light;
        font-style: normal;
        font-weight: 300;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: -0.01em;
        @media screen and (max-width: $breakpoint) {
          font-size: 18px;
          line-height: 22px;
        }
      }
      a {
        font-family: Surt Light;
        text-decoration: none;
        border-top: 2px solid $black;
        border-bottom: 2px solid $black;
        font-style: normal;
        font-weight: 300;
        font-size: 26px;
        line-height: 33px;
        padding: 15px;
        padding-left: 0px;
        display: flex;
        &:hover {
          padding-left: 30px;
        }
        @media screen and (max-width: $breakpoint) {
          font-size: 18px;
          line-height: 33px;
          padding: 9px;
          padding-left: 0px;
          &:hover {
            padding-left: 15px;
          }
        }
        .arrow {
          content: "";
          display: block;
          background-image: asset_url("arrow-big.svg");
          background-size: contain;
          cursor: pointer;
          width: 60px;
          height: 33px;
          margin-bottom: 0;
          background-repeat: no-repeat;
          border: none;
          background-color: transparent;
          margin-left: 10px;
          @media screen and (max-width: $breakpoint) {
            background-image: asset_url("arrow-small.svg");
            background-position: center;
            width: 33px;
            height: 33px;
          }
        }
      }
    }
    .right {
      padding-left: 30px;
      padding-right: 30px;
      .image {
        border-top-left-radius: 10000px;
        border-top-right-radius: 10000px;
        max-width: 480px;
        height: 600px;
        background: red;
        margin-left: auto;
        margin-top: 100px;
      }
      @media screen and (max-width: $breakpoint) {
        display: none;
      }
    }
  }
  .coming-up {
    padding: 30px;
    @media screen and (max-width: $breakpoint) {
      padding: 15px;
    }
    .top {
      cursor: pointer;
      border-bottom: 2px solid $black;
      @media screen and (min-width: $breakpoint) {
        display: flex;
        justify-content: flex-end;
        padding-right: 45px;
        p {
          padding: 10px;
          margin: 0;
        }
      }
      @media screen and (max-width: $breakpoint) {
        padding: 15px 0;
      }
      position: relative;
      &:after,
      &:before {
        content: "";
        position: absolute;
        right: 15px;
        bottom: 30px;
        border-bottom: 2px solid $black;
        width: 10px;
        display: block;
        @media screen and (min-width: $breakpoint) {
          bottom: 25px;
        }
      }
      &:after {
        transform: rotate(90deg);
      }
      &.open {
        &:after {
          display: none;
        }
      }
      .large {
        display: block;
        @media screen and (min-width: $breakpoint) {
          display: none;
        }
      }
      .date {
        @media screen and (min-width: $breakpoint) {
          margin-right: auto;
          padding-left: 0;
        }
      }
    }
    .bottom {
      padding-top: 0px;
      overflow: hidden;
      max-height: 0;
      p {
        padding-bottom: 15px;
        @media screen and (min-width: $breakpoint) {
          margin: 0;
          padding-top: 15px;
          text-align: left;
          max-width: 400px;
        }
      }
      .about {
        padding-top: 15px;
        @media screen and (min-width: $breakpoint) {
          float: left;
          padding-top: 0px;
        }
      }
      .large {
        display: none;
        @media screen and (min-width: $breakpoint) {
          display: block;
        }
      }
      &.open {
        max-height: none;
      }
      img {
        margin: 0 auto 15px;
        display: block;
        width: 100%;
        max-width: 400px;
        @media screen and (min-width: $breakpoint) {
          float: right;
          width: auto;
          max-height: 400px;
          padding-top: 15px;
        }
      }
    }
    h3 {
      font-family: Surt Light;
      font-size: 26px;
      font-style: normal;
      font-weight: 300;
      line-height: 33px;
      letter-spacing: -0.01em;
      text-align: left;
      @media screen and (max-width: $breakpoint) {
        margin-top: 55px;
        font-size: 22px;
        line-height: 33px;
      }
    }
    p.date {
      font-family: Surt Light;
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      line-height: 33px;
      letter-spacing: -0.01em;
      text-align: right;
      display: block;
      @media screen and (max-width: $breakpoint) {
        padding: 0;
        padding-bottom: 10px;
        margin: 0;
        font-size: 18px;
        line-height: 22px;
        text-align: left;
      }
    }
    p {
      font-family: Surt Light;
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      line-height: 33px;
      letter-spacing: -0.01em;
      text-align: right;
      @media screen and (max-width: $breakpoint) {
        padding: 0;
        margin: 0;
        font-size: 18px;
        line-height: 22px;
        text-align: left;
      }
    }
  }
  .gallery {
    padding: 30px;
    padding-bottom: 55px;
    @media screen and (max-width: $breakpoint) {
      padding: 15px;
    }
    h3 {
      font-family: Surt Light;
      font-size: 26px;
      font-style: normal;
      font-weight: 300;
      line-height: 33px;
      letter-spacing: -0.01em;
      text-align: left;
      @media screen and (max-width: $breakpoint) {
        margin-top: 55px;
        font-size: 22px;
        line-height: 33px;
      }
    }
    .gallery-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 15px;
      row-gap: 15px;
      @media screen and (min-width: $breakpoint) {
        grid-template-columns: repeat(5, 1fr);
      }
      div {
        background-color: grey;
        min-height: 200px;
      }
    }
  }
}
