.eyegum {
  .splash {
    background-color: $avocado;
    padding: 30px;
    display: grid;
    min-height: 540px;
    grid-template-columns: 2fr 1fr;
    border-bottom: 2px solid $black;
    @media screen and (max-width: 1000px) {
      border-bottom: none;
      grid-template-columns: 1fr;
      padding: 15px;
    }
    h1 {
      font-family: "Reckless Neue Light";
      max-width: 690px;
      font-weight: 300;
      font-size: 53px;
      margin: 0;
      @media screen and (max-width: 1000px) {
        margin-top: 10px;
        font-size: 33px;
      }
    }
    .hand {
      background-image: asset_url("homepg_illustration_1");
      background-size: contain;
      background-repeat: no-repeat;
      max-width: 500px;
      height: auto;
      margin-left: auto;
      width: 100%;
      @media screen and (max-width: 1000px) {
        max-width: 238px;
        height: 228px;
        background-position: center;
        margin: auto;
        margin-bottom: 70px;
        margin-top: 70px;
      }
    }
    * {
      color: $black;
    }
  }

  .news {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: $avocado;
    @media screen and (max-width: 1000px) {
      grid-template-columns: 1fr;
    }
    .news-item {
      .top {
        border-bottom: 2px solid $black;
        @media screen and (max-width: 1000px) {
          border-bottom: 2px solid $black;
          border-top: 2px solid $black;
        }
        padding: 15px 30px;
        h2 {
          width: 100%;
          font-size: 18px;
          font-family: "Reckless Neue Light";
          margin: 0;
          text-transform: uppercase;
        }
      }
      .bottom {
        padding: 30px;
        display: flex;
        justify-content: flex-start;
        min-height: 220px;
        .image {
          border: 2px solid $black;
          border-top-left-radius: 1000px;
          border-top-right-radius: 1000px;
          width: 120px;
        }
        p {
          margin: 0;
          margin-left: 31px;
          margin-right: 10px;
          font-family: "Surt Light";
          font-weight: 100;
          font-size: 26px;
          line-height: 32px;
          flex: 1;
          @media screen and (max-width: 1000px) {
            font-size: 18px;
            line-height: 21.1px;
          }
        }
      }
      &:first-of-type {
        border-right: 2px solid $black;
        @media screen and (max-width: 1000px) {
          border-right: none;
        }
      }
    }
  }
}
