<div class="splash">
  <div class="heading">
    <h1 class="parallax">Welcome 2 nowehre</h1>
  </div>
  <div class="parallax sky"></div>
  <div class="parallax stage"></div>
  <div class="parallax crowd"></div>
</div>